<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://firma.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>firma.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>firma</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$firma</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User ID=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04" Name="Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User Id=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Firma.Models.UsersContext, Firma" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FirmaContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User ID=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04" Name="Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User Id=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Firma.Models.FirmaContext, Firma" MigrationConfiguration="Firma.Migrations.Configuration, Firma" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|\FirmaContext-20141210140259.mdf;Initial Catalog=FirmaContext-20141210140259;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Entities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.KlientDataModel.csdl|res://*/Models.KlientDataModel.ssdl|res://*/Models.KlientDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;attachdbfilename=|DataDirectory|\FirmaContext-20141210140259.mdf;initial catalog=FirmaContext-20141210140259;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User Id=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FirmaContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jxyqlgii0t.database.windows.net,1433;Initial Catalog=firmaA2yJdVX51KJ;User Id=tomaszsmyczynski@jxyqlgii0t;Password=Tomasz04</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>